.container{
    height: calc(100vh-100px);
    background-color: red;
    display: flex;
}

.item{
    display: flex;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.motto{
    text-align: center;
    width: 80%;
}

@media screen and (max-width: 480px) {
    .card:nth-child(1){
        display: none;
    }
    .title{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
    }
}